argparse==1.4.0
boto3==1.16.44
requests==2.31.0
re2==0.2.24
tqdm==4.64.1
weasyprint==57.2
html3==1.18
html2text==2020.1.16
strings==0.1.2
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
